// Include Helpers
@use "helpers/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cairo-regular';
    direction: rtl;
}

body {
    overflow: hidden;
    background-image: linear-gradient(135deg, $green-1, $green-2);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
    width: 100%;
    border: 0;
    &[type='submit'] {
        cursor: pointer;
    }
}

textarea {
    width: 100%;
    border: 0;
    outline: none;
    margin: 0;
}