$main-color: #52CDA5;
$second-color: #00FFF0;
$third-color: #00B1A7;
$green-1: #51A8A3;
$green-2: #53DEA6;
$back-main-color: rgba(255, 255, 255, 20%);
$color-danger: #ffb4c9;

// Fonts
$fonts: "../assets/fonts";